body {
    height: 500px;
    width: 400px;
}

.icon {
    width: 80px;
    height: auto;
}

.b3 {
    opacity: 0;
    transition: 0.3s ease-in;
}

.container-1 {
    background-color: black;
    background-color: #000819;
    color: white;
    border-radius: 0px !important;
    height: 500px;
    width: 400px;
}

#github-icon {
    height: 40px;
    width: 40px;
}

.contribute {
    margin: 5px;
    position: absolute;
    right: 0;
    display: block;
    text-decoration: none;
}

.b1 {
    width: 40px;
    height: 18px;
}

.linkedin-icon {
    width: 15px;
    height: auto;
}

.badge-btn {
    width: 50px;
}

#content {
    height: 200px;
    background-color: #000819;
    color: cornflowerblue;
    width: 100%;
    overflow: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    scrollbar-color: black;
    resize: none;

    box-shadow: 0 0 3px #bc028e;
}

.profile-links:hover {
    text-decoration: none;
    color: #521aa6;
}

.profile-links {
    color: rgb(142, 142, 233);
}

textarea::-webkit-scrollbar {
    border-radius: 5px;
    width: 4px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
    outline: 1px solid cornflowerblue;
}

textarea#content:focus {
    box-shadow: 0 0 10px #6002ee;
}

#run-script-btn {
    width: 100px;
    color: white;
    background-color: #000814;
    border: 2px solid #6002ee;
    margin-top: 12px;
}

#run-script-btn:hover {
    transition: background-color 0.2s ease-in;
    background-color: #6002ee;
}

#contribute-btn {
    width: 300px;
    color: white;
    margin-left: 50px;
    background-color: #000814;
    border: 2px solid #6002ee;
    margin-bottom: 10px;
}

#contribute-btn:hover {
    transition: background-color 0.2s ease-in;
    background-color: #6002ee;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.blockquote-footer {
    padding-top: 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.text-muted {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    font-size: small;
    align-items: center;

}

.text-muted1 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    font-size: 15px;
    align-items: center;

}

.team-info {
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.animate {
    animation: disappear 1s linear;
}

.copyAlert {
    color: grey;
    opacity: 0;
    font-size: 12px;
}

@keyframes disappear {
    10% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.back-link {
    position: absolute;
    left: 0;
    margin: 15px !important;
    color: white;
}

.back-link:hover {
    color: #6002ee;
    cursor: pointer;
}

#github-contribute-icon {
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.whats-new {
    font-size: 10px;
    position: absolute;
    width: 100px;
    right: 0;
    justify-content: center;
    align-items: center;
}

.whats-new,
.rate-us:hover {
    cursor: pointer;
}

.rate-us {
    font-size: 20px;
    position: absolute;
    width: 100px;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}


#hashcut-icon {
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contribute-images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

modal-backdrop {
    position: absolute;
}

.modal-content {
    width: 250px;
    height: 250px;
    background-color: #000814;
    margin-left: 18%;
    margin-top: 25%;
    border-radius: 40px;
    position: relative;
}


.card1 {
    width: 250px;
    height: 270px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    align-items: center;
    border: 2px solid whitesmoke;
    border-color: whitesmoke;
    box-shadow: 0 0 3px whitesmoke;
    margin-bottom: 30px;
}

.card1 .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    position: relative;
}


.model-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: beige;
    margin-top: 26px;
    opacity: 0.7;
}

.model-text:hover {
    color: antiquewhite;
    cursor: pointer;
    opacity: 1.2;
    text-decoration: underline;
}

.card1 .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card1:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}