body,
h1,
h2,
h3,
p,
ul,
li,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.card-header img.icon {
    width: 80px;
    /* Decreased the width of the "Blend and Run" logo */
    height: auto;
}

.card-body {
    text-align: center;
}

.card-header {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 3%;
}

.b3 {
    opacity: 0;
    transition: 0.3s ease-in;
    background-color: grey;
    color: white;
    border-radius: 3px;
    padding: 3px 5px;
}

.container-1 {
    background-color: #000819;
    color: white;
    border-radius: 0px !important;
    height: auto;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#github-icon {
    height: 40px;
    width: 40px;
}

.contribute {
    /* border: 1px solid white; */
    /* align-items: right; */
    position: absolute;
    right: 0;
    top: 10px;
    text-decoration: none;
}

.b1 {
    width: 40px;
    height: 18px;
    /* justify-content: center !important;
    align-items: center !important;
    text-align: center !important; */
}

.linkedin-icon {
    width: 15px;
    height: auto;
}

.badge-btn {
    width: 50px;
}

#content {
    height: 250px;
    background-color: #000800;
    color: cornflowerblue;
    width: 94%;
    overflow: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    scrollbar-color: black;
    resize: none;
    box-shadow: 0 0 1px #bc028e;
}


textarea::-webkit-scrollbar {
    border-radius: 5px;
    width: 4px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
    outline: 1px solid cornflowerblue;
}

textarea#content:focus {
    box-shadow: 0 0 10px #6002ee;
    outline: none;
}

#run-script-btn {
    /* background-color: #6002ee; */
    width: 30%;
    color: white;
    background-color: #000814;
    border: 2px solid #6002ee;
    margin-top: 12px;
    padding: 10px 10px;
    border-radius: 7%;
    cursor: pointer;
}

#run-script-btn:hover {
    /* color: black; */
    transition: background-color 0.2s ease-in;
    background-color: #6002ee;
}

#contribute-btn {
    background-color: #000010;
    /* Background color */
    color: white;
    width: 50%;
    margin: auto;
    margin-left: 24%;
    margin-top: 3%;
    /* Text color */
    padding: 10px 10px;
    /* Padding for spacing */
    border: 2px solid #6002ee;
    /* Remove the border */
    border-radius: 5px;
    /* Border radius */
    cursor: pointer;
    /* Cursor style */
    font-size: 16px;
    /* Font size */
    font-weight: bold;
    /* Bold font weight */
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
}

/* Hover effect for the "Contribute" button */
#contribute-btn:hover {
    background-color: #6002ee;
    /* Change background color on hover */
}

.selector-for-some-widget {
    box-sizing: content-box;
}


.profile-links:hover {
    text-decoration: none;
    color: #521aa6;
}

.profile-links {
    color: rgb(142, 142, 233);
    opacity: 100% !important;
}

.blockquote-footer {
    position: relative;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.muted {
    opacity: 40%;
}

.badge.b1.text-bg-secondary.badge-btn {
    width: 40px;
    height: 18px;
}

.badge {
    background-color: grey;
    /* Background color */
    color: white;
    /* Text color */
    border-radius: 3px;
    /* Border radius */
    padding: 3px 5px;
    margin: 1%;
}



.text-muted1 {
    position: relative;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.team-info {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    line-height: 1.4;
}

.animate {
    animation: disappear 1s linear;
}

.short-cuts {
    text-align: center;
    align-items: center;
    display: block;
    font-size: 12px;
    /* margin-left: 20%; */
}

.copyAlert {
    color: grey;
    opacity: 0;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}

@keyframes disappear {
    10% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.back-link {
    position: absolute;
    left: 0;
    margin: 15px !important;
    color: white;
}

.back-link:hover {
    color: #6002ee;
    cursor: pointer;
}

#github-contribute-icon {
    width: 100px;
    height: 100px;
    /* position: relative; */
    left: 0;
    right: 0;
    /* margin-left: 140px; */
    justify-content: center;
    align-items: center;
}

.whats-new {
    font-size: 10px;
    position: absolute;
    width: 100px;
    right: 0;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.whats-new:hover {
    cursor: pointer;
}

#hashcut-icon {
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    /* margin-left: 140px; */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contribute-images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}